div {
    border: 1px solid black;
    padding: 1em;
}

#leftDiv {
    width: 30%;
    float: left;
}

#apiDiv {
    width: 60%;
    float: right;
}

.forecastDiv {

    float: right;
    width: 10%;
    height: 15rem;
    justify-content: space-around;
    flex-direction: row;
    border-width: 8px;
    border-color: white;
    background-color: darkslateblue;
}